{% import './Modals/ActionConfirmationModal.html' as confirmActionModal %}

{% macro exportHTML () %}
    {{ confirmActionModal.exportHTML() }}
{% endmacro %}

{% macro exportScript (redirect_location) %}
    <script>
        function openDeleteProjectModal (project) { 
            var action_title =  "Do you want to delete " + project['project_name'] + "?"
            var action_description = "Deleting a project will result in deleting all of its repositories and removing all interested articles.Click Yes to proceed this deletion."
            request_function = function () {
                $ ('#confirmActionButton').attr ('disabled', true)
                $ ('#confirmActionModalSpinner').show ()
                $.post('/delete_project', {
                    'project_id': project['project_id']
                })
                .done (function (response) {
                    $ ('#confirmActionModalSpinner').hide ()
                    if ('success_msg' in response) {
                        $("#confirmActionModalMessage").text ("Successfully execute your action. Autofresh will happen in 5 seconds")
                        $("#confirmActionModalMessage").css ("color", "green")
                        $("#confirmActionModalMessage").show()
                        setTimeout (function () {}, 5000)
                        window.location = "{{redirect_location}}"
                    } else {
                        $ ('#confirmActionButton').attr ('disabled', false)
                    }

                })
                .fail (function () {
                    $ ('#confirmActionModalSpinner').hide ()
                    $ ('#confirmActionButton').attr ('disabled', false)
                    $ ("#confirmActionModalMessage").text ("Fail to send your request. Please check your internet connection and try again")
                    $ ("#confirmActionModalMessage").css ("color", "red")
                    $ ("#confirmActionModalMessage").show()

                })
            }
            openAskForConfirmationModal (action_title, action_description, request_function) // function from Modals/ActionConfirmationModal.html
        }
    </script>
{% endmacro %}