{% extends "./RootTemplateWithHeaderFooter.html" %}

{% block main_content %}
    <div style="margin-bottom: 100px;margin-top: 100px;">
        <div class="container" style="width: 60%;">
            <ol class="breadcrumb border rounded-0 border-white" style="background: rgb(247,247,247);">
                <li class="breadcrumb-item"><a href="/QA_page/start"><span style="color: rgb(0, 123, 255);">Home</span></a></li>
                <li class="breadcrumb-item active"><span>Special Features</span></li>
            </ol>
            <ul class="list-group border rounded-0 border-white" role="tabpanel" data-parent="#breadcrumb-1">
                <li class="list-group-item" id="irrelevant">
                    <p style="font-size: 18px;font-weight: bold;margin-bottom: 10px;margin-top: 5px;color: #212529;">Simplicity</p>
                    <p style="margin-bottom: 15px;font-size: 14px;margin-top: 10px;">The IQS provides simple function&nbsp;and&nbsp;simple display.<br></p>
                </li>
                <li class="list-group-item" id="irrelevant-2">
                    <p style="font-size: 18px;font-weight: bold;margin-bottom: 10px;margin-top: 5px;color: #212529;">Easier Accessibility</p>
                    <p style="margin-bottom: 15px;font-size: 14px;margin-top: 10px;">The accessibility to full text is easier in IQS with the collaboration with UC library (coming soon).&nbsp;</p>
                </li>
                <li class="list-group-item" id="irrelevant-1">
                    <p style="font-size: 18px;font-weight: bold;margin-bottom: 10px;margin-top: 5px;color: #212529;">Unique Data Source</p>
                    <ul style="font-size: 14px;margin-top: 10px;margin-bottom: 15px;">
                        <li>The IQS provides pre-prints as a special source for innovation.&nbsp;</li>
                        <li>The data source is updated&nbsp;regularly&nbsp;which enables the latest study on COVID topics.&nbsp;</li>
                        <li>The data source is stored by domain, and this can provide you&nbsp;with&nbsp;opportunities&nbsp;to search articles within a specific&nbsp;topic and&nbsp;elaborate interdisciplinary innovation by searching cross domain bubbles (coming soon).&nbsp;</li>
                        <li>Recommendation function: we can provide you&nbsp;trending&nbsp;articles or topics (coming soon).</li>
                    </ul>
                </li>
                <li class="list-group-item" id="irrelevant-1">
                    <p style="font-size: 18px;font-weight: bold;margin-bottom: 10px;margin-top: 5px;color: #212529;">Unique Functions</p>
                    <ul style="font-size: 14px;margin-top: 10px;margin-bottom: 15px;">
                        <li>Four&nbsp;<a href="Q&amp;A-1.html">query modes</a>.</li>
                        <li>Collaborative function: share with your collaborators and decide the usefulness of the articles you found together (coming soon).</li>
                        <li>Saving function: store your search&nbsp;results easily in repositories.&nbsp;</li>
                        <li>Repository function: manage your ideas by sorting the articles you found here.&nbsp;</li>
                        <li>Recommendation function: we can provide you&nbsp;trending&nbsp;articles or topics (coming soon).&nbsp;</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
