<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>COVID-19 Intelligent Query System</title>
        <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="/static/assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="/static/assets/fonts/ionicons.min.css">
        <link rel="stylesheet" href="/static/assets/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="/static/assets/css/divider-text-middle.css">
        <link rel="stylesheet" href="/static/assets/css/Footer-Clean.css">
        <link rel="stylesheet" href="/static/assets/css/Testimonials.css">
        <link rel="stylesheet" href="/static/assets/css/Login-Box-En.css">
        <link rel="stylesheet" href="/static/assets/css/Navigation-with-Button.css">
        <link rel="stylesheet" href="/static/assets/css/Navigation-with-Search.css">
        <link rel="stylesheet" href="/static/assets/css/Newsletter-Subscription-Form.css">
        <link rel="stylesheet" href="/static/assets/css/Sidebar-Menu-1.css">
        <link rel="stylesheet" href="/static/assets/css/Sidebar-Menu.css">
        <link rel="stylesheet" href="/static/assets/css/SIdebar-Responsive-2-1.css">
        <link rel="stylesheet" href="/static/assets/css/SIdebar-Responsive-2.css">
        <link rel="stylesheet" href="/static/assets/css/styles.css">
        <link rel="stylesheet" href="assets/css/Toggle-Switch.css">
        <link rel="stylesheet" href="/static/assets/css/menu.css">

        <script src="/static/assets/js/jquery.min.js"></script>
        <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/assets/js/Sidebar-Menu.js"></script>
        <script src="/static/assets/js/menu.js"></script>
        <script src="/static/assets/js/function.js"></script>
        <script src="/static/assets/js/modernizr.custom.63321.js"></script>

        <script data-require="angular.js@1.6.0" data-semver="1.6.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
        <script data-require="ui-bootstrap@*" data-semver="2.2.0" src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.2.0.js"></script>
    
        <link rel="stylesheet" href="/static/assets/css/menu_style.css">
        <script src="/static/assets/js/jquery.blockUI.min.js"></script>
    </head>

    <body>
        <div class="footer-clean">
            <footer >
                <div class="container">
                    <div class="row justify-content-center">
        
                        <div class="col-sm-4 col-md-3 item">
                            <h3>COVID-19 Resource</h3>
                            <ul>
                                <li><a href="https://icite.od.nih.gov/covid19/search/" target="_blank">COVID-19 Protfolio(NIH)</a></li>
                                <li><a href="https://ir.nist.gov/covidSubmit/" target="_blank">TREC-COVID</a></li>
                                <li><a href="https://www.semanticscholar.org/cord19" target="_blank">CORD-19 Research Dataset</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-md-3 item">
                            <h3>About</h3>
                            <ul>
                                <li><a href="https://www.med.uc.edu" target="_blank">College of Medicine,University of Cincinnati</a></li>
                                <li><a href="https://med.uc.edu/bmi/labs/iCDCU" target="_blank">iCDCU Lab</a></li>
                                <li><a href="https://www.uchealth.com/" target="_blank">UC Health</a></li>
                                <li><a href="mailto:wutz@ucmail.uc.edu">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-md-3 item">
                            <h3>Publication</h3>
                            <ul>
                                <li><a href="https://trec.nist.gov/pubs/trec27/papers/MedIER-PM.pdf">TREC-PM 2018</a></li>
                                <li><a href="https://trec.nist.gov/pubs/trec28/papers/CincyMedIR.PM.pdf">TREC-PM 2019</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>