<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>COVID-19 Intelligent Query System</title>
        <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="/static/assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="/static/assets/fonts/ionicons.min.css">
        <link rel="stylesheet" href="/static/assets/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="/static/assets/css/divider-text-middle.css">
        <link rel="stylesheet" href="/static/assets/css/Footer-Clean.css">
        <link rel="stylesheet" href="/static/assets/css/Testimonials.css">
        <link rel="stylesheet" href="/static/assets/css/Login-Box-En.css">
        <link rel="stylesheet" href="/static/assets/css/Navigation-with-Button.css">
        <link rel="stylesheet" href="/static/assets/css/Navigation-with-Search.css">
        <link rel="stylesheet" href="/static/assets/css/Newsletter-Subscription-Form.css">
        <link rel="stylesheet" href="/static/assets/css/Sidebar-Menu-1.css">
        <link rel="stylesheet" href="/static/assets/css/Sidebar-Menu.css">
        <link rel="stylesheet" href="/static/assets/css/SIdebar-Responsive-2-1.css">
        <link rel="stylesheet" href="/static/assets/css/SIdebar-Responsive-2.css">
        <link rel="stylesheet" href="/static/assets/css/styles.css">
        <link rel="stylesheet" href="assets/css/Toggle-Switch.css">
        <link rel="stylesheet" href="/static/assets/css/menu.css">

        <script src="/static/assets/js/jquery.min.js"></script>
        <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/assets/js/Sidebar-Menu.js"></script>
        <script src="/static/assets/js/menu.js"></script>
        <script src="/static/assets/js/function.js"></script>
        <script src="/static/assets/js/modernizr.custom.63321.js"></script>

        <script data-require="angular.js@1.6.0" data-semver="1.6.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
        <script data-require="ui-bootstrap@*" data-semver="2.2.0" src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.2.0.js"></script>
    
        <link rel="stylesheet" href="/static/assets/css/menu_style.css">
        <script src="/static/assets/js/jquery.blockUI.min.js"></script>
    </head>

    <body>
        <!--header of our website (1st row)-->
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="height: 60px;">
            <div class="container">
                <a class="navbar-brand" href="/home" target="_blank"><img src="/static/assets/img/IQS_logo.png" width="116" height="30"></a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto"></ul>
                    <ul class="nav navbar-nav" style="display: none;">
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="far fa-bell" ></i></a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">DSC Process</a><a class="dropdown-item" role="presentation" href="#">Like</a><a class="dropdown-item" role="presentation" href="#">Share</a></div>
                        </li>
                    </ul>
                    <span class="navbar-text actions">
                        <a class="btn btn-primary border rounded action-button" role="button" href="/static/QA_page/Q&A.html" style="margin-right: 10px;background: rgb(0,123,255);">Learn IQS</a> 
                        <a class="btn btn-primary border rounded action-button" role="button" href="/manage_projects" style="margin-right: 10px;background: rgb(0,123,255);">My Projects</a>   
                        <a class="btn btn-primary border rounded action-button" role="button" href="/logout" style='background-color:#007bff'>Logout</a>
                    </span>
                </div>
            </div>
        </nav>
    </body>
</html>