{% extends "./RootTemplateWithHeaderFooter.html" %}
{% import "./Modals/EditProjectModal.html" as editProjectModal%}
{% import "./Modals/ActionConfirmationModal.html" as confirmActionModal%}
{% import "./Modals/DeleteProjectModal.html" as deleteProjectModal%}
{% import "./Modals/EditRepositoryModal.html" as editRepositoryModal%}



{% block main_content%}
    {% set active_created_project = project_list['created_project']['active_project'] %}
    {% set archived_created_project = project_list['created_project']['archived_project'] %}
    {% set active_admin_project = project_list['admin_project']['active_project'] %}
    {% set archived_admin_project = project_list['admin_project']['archived_project'] %}
    {% set active_contributor_project = project_list['contributor_project']['active_project'] %}
    {% set archived_contributor_project = project_list['contributor_project']['archived_project'] %}
    {% set total_num_active_project = active_created_project | length + active_admin_project | length + active_contributor_project | length %}

    <div class ="container">
        <div class = "container mt-3">
            <div class = "row">
                <div class = "col-md-6 col-12">
                    <h3 style = "font-size: 1.25rem; display: inline">Project (Groups of repositories)</h3>
                    <button type="button" class="btn btn-link btn-sm navigation-button" onclick = "openEditProjectModal (null, '/create_project')">+ New</button>
                    <a href = "/manage_projects/all_projects"><button type="button" class="btn btn-link btn-sm navigation-button">View details ></button></a>
                </div>
                <div class = "col-md-6 col-12">
                    <h5 style = "font-size: 1rem; display: inline">View: </h5>
                    <button type="button" class="btn btn-link btn-sm navigation-button project-view-button" onclick = "switchView ('active', this)" style = "border-bottom: solid blue;">
                        Active 
                        <span class="badge badge-light">{{total_num_active_project}}</span>
                    </button>
                    <button type="button" class="btn btn-link btn-sm navigation-button project-view-button" onclick = "switchView ('creator', this)">
                        As creator
                        <span class="badge badge-light">{{active_created_project | length }}</span>
                    </button>
                    <button type="button" class="btn btn-link btn-sm navigation-button project-view-button" onclick = "switchView ('admin', this)">
                        As admin
                        <span class="badge badge-light">{{active_admin_project | length}}</span>
                    </button>
                    <button type="button" class="btn btn-link btn-sm navigation-button project-view-button" onclick = "switchView ('contributor', this)">
                        As contributor
                        <span class="badge badge-light">{{active_contributor_project | length }}</span>
                    </button>
                </div>

            </div>
        </div>

        <div class = "container mt-3" class = "list-of-project">
            <div class="row project-grid">
                {% if total_num_active_project == 0 %}
                    <p>You do not have any active project. Click on the +New button above to create one</p>
                {% endif %}
                    <!--Start of a project panel-->
                {% for project in active_created_project + active_admin_project + active_contributor_project %}
                    {% set drop_button_id = "dropButtonProject-" + (project['project_id'] | string) %}
                    {% set toggle_button_id = "toggleButtonProject-" + (project['project_id'] | string) %}
                    {% set project_class = project['role_description'] + '-project' %}

                    <div class = "col-lg-6 col-md-12 project-item mt-3 {{project_class}}">
                        <div class = "row">
                            <div class = "col-2 project-color p-0" style = "background: {{project['project_color']}};">
                                <div class = "border rounded" style = "height: 100%">
                                    <img class = "float-right" src = "/static/assets/img/Project.png" style = "width: 90%; height: 101%;"></img>
                                </div>
                            </div>
                            <div class = "col-10 project-info">
                                <div class = "col-12 pt-2 border rounded" style = "width: 100%; height : 100%">
                                    <div class = "row">
                                        <div class = "col-md-11 col-9">
                                            <h5 class = "project-title">
                                                {{project['project_name']}}
                                            </h5>
                                        </div>
                                        <div class = "col-md-1 col-3">
                                            <div class="dropdown">
                                                <button class="btn btn-link btn-sm dropdown-toggle float-right" type="button" id="{{drop_button_id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                ...
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="{{drop_button_id}}">
                                                <a class="dropdown-item" href="/manage_projects/all_projects/{{project['project_id']}}">View Project</a>
                                                {% if project['role_description'] == 'admin' or project['role_description'] == 'creator' %}
                                                    <a class="dropdown-item" onclick = "openEditRepositoryModal ({{project}}, null, '/create_repository')">Add a New Repository</a>
                                                {% endif %}
                                                {% if project['role_description'] == 'creator' %}
                                                    <a class="dropdown-item" onclick = "archiveProject ({{project['project_id']}})">Archive (Hide) </a>
                                                    <a class="dropdown-item" onclick = "openEditProjectModal ({{project}}, '/edit_project')">Edit Project </a>
                                                    <a class="dropdown-item" style = "color: red" onclick = "openDeleteProjectModal({{project}})">Delete Project </a>
                                                {% else %}
                                                    <a class="dropdown-item" style = "color: red" onclick = "leaveProject ({{project}})">Leave Project</a>
                                                {% endif %}
                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "row">
                                        <div class = "col-lg-6 col-md-12">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id = "{{toggle_button_id}}"   checked>
                                                <label class="custom-control-label" for = "{{toggle_button_id}}">Visible to the team</label>
                                            </div>
                                        </div>
                                        <div class = "col-md-6 col-12">
                                            {% if project['repo_count'] <= 1%}
                                                {{project['repo_count']}} Repository
                                            {% else %}
                                                {{project['repo_count']}} Repositories
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                    <div class = "row">
                                        <div class = "col-12">
                                            <i class="bi-person" style="font-size: 1rem; color: black;"> {{project['role_description']}} </i>
                                            <br>
                                            {% if project['role_description'] != 'creator' %}
                                                <small>Created by: {{project['account_id']}}</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!--End of a project panel-->
                {% endfor %}
            </div>
        </div>

        <div class = "container mt-5">
            <div class = "row">
                <div class = "col-md-3 col-12">
                    <h3 style = "font-size: 1.25rem; display: inline">Recent</h3>
                </div>
                <div class = "col-md-9 col-12">
                    <div class = "float-right">
                        <h5 class =  "d-md-inline d-sm-block" style = "font-size: 1rem">View: </h5>
                        <button type="button" class="btn btn-link btn-sm navigation-button">Visible to the team</button>
                        <button type="button" class="btn btn-link btn-sm navigation-button">Private visibility</button>
                        <button type="button" class="btn btn-link btn-sm navigation-button">Article: Quantity High To Low (?)</button>
                    </div>
                </div>
            </div>
        </div>

        <div class = "container mt-3" class = "list-of-repository">
            <div class="row repository-grid">
                <!--Start of a repository panel-->
                {% for repo in most_recent_repositories%}
                    <div class = "col-12 repository-item mt-3">
                        <div class = "row">
                            <div class = "col-1 project-color p-0" style = "background: blue;">
                                <div class = "border rounded" style = "height: 100%">
                                    <img class = "float-right" src = "/static/assets/img/Repository.png" style = "width: 90%; height: 101%;"></img>
                                </div>
                            </div>
                            <div class = "col-11 project-info">
                                <div class = "col-12 pt-2 border rounded" style = "width: 100%; height : 100%">
                                    <div class = "row">
                                        <div class = "col-md-11 col-9">
                                            <h5 class = "repository-title">{{ repo['repo_name'] }}</h5>
                                        </div>
                                        <div class = "col-md-1 col-3">
                                            <div class="dropdown">
                                                <button class="btn btn-link btn-sm dropdown-toggle float-right" type="button" id="dropButtonRepository-7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                ...
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropButtonRepository-7">
                                                <a class="dropdown-item" href="#">To be added</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    

                                    <div class = "row">
                                        <div class = "col-12">
                                            <small>{{repo['project_name']}}</small>
                                        </div>
                                        <div class = "col-md-6 col-12">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id = "toggleRepository-7"   checked>
                                                <label class="custom-control-label" for = "toggleRepository-7">Visible to the team</label>
                                            </div>
                                        </div>
                                        <div class = "col-md-6 col-12">
                                            {{repo['article_count']}} Articles
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!--End of a repository panel-->

            </div>
        </div>
    </div>


    {{editProjectModal.exportHTML ()}}
    {{editRepositoryModal.exportHTML ()}}
    {{confirmActionModal.exportHTML ()}}
{% endblock %}

{% block additional_style %}
    {{super ()}}
    <style>
        .navigation-button {
            margin-left: 1rem;
            background-color: white;
            color: blue;
        }
        .project-tilte {
            font-size: 1rem;
        }
        label {
            font-size: 1rem;
        }
    </style>

{% endblock %}


{% block additional_script %}
    {{super()}}
    {{editProjectModal.exportScript ()}}
    {{editRepositoryModal.exportScript() }}
    {{confirmActionModal.exportScript ()}}
    {{deleteProjectModal.exportScript ("/manage_projects")}}
    <script>
        function archiveProject (project_id) {
            $.post ('/set_archive_status', {
                    'project_id' : project_id,
                    'new_archive_status': 1
                }
            )
            .done (function () {
                location.reload()
            })
            .fail (function () {
                alert ("Fail to archive your project. Please try again later")
            })

        }

        function unarchiveProject (project_id) {
            $.post ('/set_archive_status', {
                    'project_id' : project_id,
                    'new_archive_status' : 0
                }
            )
            .done (function () {
                location.reload()
            })
            .fail (function () {
                alert ("Fail to unarchive your project. Please try again later")
            })

        }

        function switchView (new_view, element) {
            $ (".project-view-button").css ("border", "none")
            $ (element).css ("border-bottom", "solid blue")
            $ (".creator-project").hide ()
            $ (".admin-project").hide ()
            $ (".contributor-project").hide ()
            if (new_view == 'active') {
                $ (".creator-project").show ()
                $ (".admin-project").show ()
                $ (".contributor-project").show ()
            } else if (new_view == 'creator') {
                $ (".creator-project").show ()
            } else if (new_view == 'admin') {
                $ (".admin-project").show ()
            } else if (new_view == 'contributor') {
                $ (".contributor-project").show ()
            }
        }

        function leaveProject (project) {
            var action_title = 'Do you want to leave ' + project['project_name'] + '?'
            var action_description = 'Leaving a project will prevent you from seeing it again but will not remove your added/created articles and repositories'
            var yes_action = function () {
                $ ('#confirmActionButton').attr ('disabled', true)
                $ ('#confirmActionModalSpinner').show ()
                $.post ( '/leave_project', {
                    'project_id' : project['project_id']
                })
                .done (function (response) {
                    $ ('#confirmActionModalSpinner').hide ()
                    if ('success_msg' in response) {
                        $("#confirmActionModalMessage").text ("Successfully execute your action. Autofresh will happen in 5 seconds")
                        $("#confirmActionModalMessage").css ("color", "green")
                        $("#confirmActionModalMessage").show()
                        setTimeout (function () {}, 5000)
                        window.location = "/manage_projects"
                    } else {
                        $ ('#confirmActionButton').attr ('disabled', false)
                    }

                })
                .fail (function () {
                    $ ('#confirmActionModalSpinner').hide ()
                    $ ('#confirmActionButton').attr ('disabled', false)
                    $ ("#confirmActionModalMessage").text ("Fail to send your request. Please check your internet connection and try again")
                    $ ("#confirmActionModalMessage").css ("color", "red")
                    $ ("#confirmActionModalMessage").show()

                })
            }
            openAskForConfirmationModal (action_title, action_description, yes_action)
        }
    </script>

{% endblock %}