<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>COVID-19 Intelligent Query System</title>
        <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap4-toggle.min.css">
        <link rel="stylesheet" href="/static/assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="/static/assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="/static/assets/fonts/ionicons.min.css">
        <link rel="stylesheet" href="/static/assets/css/Features-Boxed.css">
        <link rel="stylesheet" href="/static/assets/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="/static/assets/css/divider-text-middle.css">
        <link rel="stylesheet" href="/static/assets/css/Footer-Clean.css">
        <link rel="stylesheet" href="/static/assets/css/Testimonials.css">
        <link rel="stylesheet" href="/static/assets/css/Login-Box-En.css">
        <link rel="stylesheet" href="/static/assets/css/Navigation-with-Button.css">
        <link rel="stylesheet" href="/static/assets/css/Navigation-with-Search.css">
        <link rel="stylesheet" href="/static/assets/css/Newsletter-Subscription-Form.css">
        <link rel="stylesheet" href="/static/assets/css/Sidebar-Menu-1.css">
        <link rel="stylesheet" href="/static/assets/css/Sidebar-Menu.css">
        <link rel="stylesheet" href="/static/assets/css/SIdebar-Responsive-2-1.css">
        <link rel="stylesheet" href="/static/assets/css/SIdebar-Responsive-2.css">
        <link rel="stylesheet" href="/static/assets/css/styles.css">
        <link rel="stylesheet" href="/static/assets/css/menu.css">
        <link rel = "stylesheet" href = "/static/assets/bootstrap/css/bootstrap-icons-1.6.1/bootstrap-icons.css">
        <link rel = "stylesheet" href = "/static/assets/css/daterangepicker.css">
        <link rel = "stylesheet" href = "/static/assets/css/yamm.min.css">

        <script src="/static/assets/js/jquery.min.js"></script>
        <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/assets/bootstrap/js/bootstrap4-toggle.min.js"></script>
        <script src="/static/assets/js/Sidebar-Menu.js"></script>
        <script src="/static/assets/js/menu.js"></script>
        <script src="/static/assets/js/function.js"></script>
        <script src="/static/assets/js/modernizr.custom.63321.js"></script>
        <script src = "/static/assets/js/moment.min.js"></script>
        <script src = "/static/assets/js/daterangepicker.js"></script>
        

        <script data-require="angular.js@1.6.0" data-semver="1.6.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
        <script data-require="ui-bootstrap@*" data-semver="2.2.0" src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.2.0.js"></script>
   
        
        <link rel="stylesheet" href="/static/assets/css/menu_style.css">
        <script src="/static/assets/js/jquery.blockUI.min.js"></script>


        {% block additional_style%}
        {% endblock %}

        {% block additional_script %}
        {% endblock %}

    </head>

    <body>
        {% block body%}
        {% endblock %}
    </body>
    
</html>